*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.main{
	display: flex;
}

.box1{
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	background-color: orange;
	width: 30%;
	height: 75vh;
	margin: 2em;
}


.box2{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: orange;
	width: 30%;
	height: 75vh;
	margin: 2em;
}
.box3{
	background-color:cyan;
	width: 30%;
	height: 75vh;
	margin: 2em;
}
.inner-box1{
	background-color: cyan;
	width: 90%;
	height: 47%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
input{
	display: block;
	height: 30px;
	margin: 1em;
	width: 100%;
	border-radius: 20px;
	text-align: center;
	border:none;
}
#smtbtn{
	width: 50%;
	background-color: crimson;
	color:white;
}
.inner-box2{
	background-color: cyan;
	width:95%;
	height: 47%;
	margin: 1em;
	text-align: center;
}
.inner-box20{
	display: flex;
	justify-content: space-around;
	background-color: orange;
	width:95%;
	height: 47%;
	margin: 1em;
	text-align: center;

}
.inner-box20-child{
	background-color: cyan;
	width: 45%;
	height: 95%;

}
.square1{
	background-color: cyan;
	width: 47%;
	height: 47%;
	display: inline-block;
	border: 20px solid orange;
}
.square2{
	background-color: cyan;
	width: 48%;
	height: 48%;
	display: inline-block;
}
.square3{
	background-color: cyan;
	width: 48%;
	height: 48%;
	display: inline-block;
}
.square4{
	background-color: cyan;
	width: 47%;
	height: 47%;
	display: inline-block;
	border: 20px solid orange;
}





#myBtn {
  position: fixed;
  bottom: 10px;
  float: right;
  right: 18.5%;
  left: 77.25%;
  max-width: 50px;
  width: 100%;
  font-size: 17px;
  border-color: rgba(85, 85, 85, 0.2);
  background-color: black;
  padding: 1px;
  border-radius: 8px;

}

#myBtn:hover {
  background-color: #7dbbf1;
}

@media screen and (max-width:768px){
	.main{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.box1{
		width: 80vw;
	}
	.box2{
		width: 80vw;
	}
	.box3{
		width: 80vw;
	}
	.inner-box20{
		flex-direction: column;
	}
	.inner-box20-child{
		width: 98%;
		height: 45%;
	}
}

.list{
	text-align: center;
	list-style-position: inside;
}